@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/css/all.css";
@import "admin/sb-admin.min.css";
@import "header-menu";
@import "../select2/select2.min.css";
@import "~select2-bootstrap4-theme";
@import "mainpage";

body {
  font-family: 'Open Sans', sans-serif;
}

.header-menu {
  background-color: #3f3e3e;
  a {
    color: #a3afb8;
  }
  ul {
    margin: 10px;
  }
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu a::after {
  transform: rotate(-90deg);
  position: absolute;
  right: 12px;
  top: 1em;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-left: .1rem;
  margin-right: .1rem;
}

.carousel-indicators {
  li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    color: #a3afb8;
  }
}

.btn-custom-1 {
  min-width: 250px;
  background-color: rgb(42, 33, 55);
  color: #fff;
  border: 1px solid #fff;
  :hover {
    border-color: #a3afb8;
    color: #a3afb8;
  }
}

.phone-numbers {
  font-size: 20px;
  margin-top: 20px;
}

.main-header {
  margin-top: 60px;
  font-size: 60px;
}

.item-name {
  font-size: 20px;
  margin: 20px 0 0 0;
}

.item-price {
  font-size: 30px;
}

.footer-btn {
  border: 1px dashed #ffffff;
  text-decoration: underline;
  font-size: 20px;
}

.useful-links {
  list-style: none;
  margin-left: -40px;
}

.news-header {
  font-weight: bold;
  font-size: 20px;
}

.news-date {
  font-weight: bold;
  font-size: 16px;
}

.page-title {
  margin: 30px;
}

.product-item {
  margin-bottom: 30px;
}

.logo-img {
  height: 140px;
  margin-top: 20px;
}
#map {
  height: 400px;  /* The height is 400 pixels */
  width: 100%;  /* The width is the width of the web page */
}