/* The overlay effect (full height and width) - lays on top of the container and over the image */
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .3s ease;
  background-color: #000;
}

.overlay:hover {
  opacity: 0.5;
}

.remove-media {
  color: #fff;

  i {
    font-size: 16px;
  }
}
#trash {
  position: absolute;
  bottom: 90px;
  color: black;
  right: 10px;
  z-index: 999;
}

.backlight {
  text-shadow: 1px 1px 2px black, 0 0 1em #17a2b8;
}

#context-menu {
  position: absolute;
  z-index: 999;
  padding-top: 2px;
  padding-bottom: 2px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #fff;
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      cursor: pointer;
      padding: 3px 7px;
    }
  }
}
.context-item:hover {
  background-color: rgb(33, 37, 41);
  color: #fff;
}