{% extends "site/site.html.twig" %}

{% block site_content %}
    <div class="row main-section" style="background-image:url({{ asset('img/main/mainbg.png') }});">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12 text-center header-sale">
                    <h3>До конца сентября скидка на все виды памятников 20%</h3>
                </div>
            </div>
            <div class="row pt-5 pb-5">
                <div class="col-md-3 my-auto">
                    {{ renderSidebar()|raw }}
                </div>
                <div class="col-md-6 pt-5 main-carousel">
                    <div id="header-carousel" class="carousel slide" data-ride="carousel">
                        <div class="row">
                            <div class="col-md-10 offset-1">
                                <div class="carousel-inner">
                                    {% for item in items %}
                                        <div class="carousel-item {{ loop.first ? 'active' }}">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <img src="{{ asset('/img/' ~ item.media.values[0].url) }}"
                                                         width="100%" height="100%">
                                                </div>
                                                <div class="col-md-8">
                                                    <p class="item-name"><b>{{ item.name }}</b></p>
                                                    <p class="item-price">{{ item.price }} BYN</p>
                                                    <p>{{ item.description | raw }}</p>
                                                </div>
                                                <div class="col-md-12 text-center" style="margin-bottom: 40px;"><a href="" class="btn btn-custom-1">Подробнее</a></div>

                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>

                        <a class="carousel-control-prev" href="#header-carousel" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#header-carousel" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
                <div class="col-md-3">
                    <img src="{{ asset('img/main/angel.png') }}" alt="" width="200px">
                </div>
            </div>
        </div>
    </div>
    <div class="row p-5">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12 text-center"><h3>Наш каталог готовых работ</h3></div>
                {% for item in items %}
                    <div class="col-md-4 text-center p-5">
                        <img src="{{ asset('/img/' ~ item.media.values[0].url) }}" alt="" width="100%">
                        <p class="item-name">{{ item.name }}</p>
                        <b class="item-price">{{ item.price }} BYN</b>
                    </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-md-12 text-center"><a href="" class="btn btn-custom-1">Больше работ</a></div>
            </div>
        </div>
    </div>
    <div class="row p-5" style="background-color: rgb(204,218,230);">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h3>Популярные памятники и медальоны</h3>
                </div>
                {% for item in items %}
                    <div class="col-md-4 text-center p-5">
                        <img src="{{ asset('/img/' ~ item.media.values[0].url) }}" alt="" width="100%">
                        <p class="item-name">{{ item.name }}</p>
                        <b class="item-price">{{ item.price }} BYN</b>
                    </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-md-12 text-center"><a href="" class="btn btn-custom-1">Больше работ</a></div>
            </div>
        </div>
    </div>
    <div class="row p-5" style="background-color:rgb(42, 33, 55); color: #fff;">
        <div class="col-md-12 text-center">
            <h3>Заказать звонок</h3>
            <p>Оставьте свой номер и наш менеджер свяжется с вами</p>
            <form class="form-inline my-2 my-lg-0">
                <div class="mx-auto">
                    <input class="form-control mr-sm-2" type="text" aria-label="Search">
                    <button class="btn btn-success my-2 my-sm-0" type="submit">Заказать звонок</button>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center p-3">
            <h3 style="margin: 20px;">Последние новости</h3>
        </div>
        <div class="col-md-10 offset-1">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <div class="row">
                    <div class="col-md-10 offset-1">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="row">
                                    <div class="col-md-4">
                                        <img src="https://cardtemplate.club/wp-content/uploads/2018/08/text-birthday-cards-beautiful-greeting-card-bday-new-book-birthday-card-happy-birthday-cards-of-text-birthday-cards.jpg"
                                             alt="" width="100%">
                                    </div>
                                    <div class="col-md-8">
                                        <p class="news-date">22.08.2018</p>
                                        <p class="news-header">Заголовок новости</p>
                                        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has
                                            roots in a
                                            piece of classical Latin literature from 45 BC, making it over 2000 years
                                            old.
                                            Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia,
                                            looked
                                            up one of the more obscure Latin words, consectetur, from a Lorem Ipsum
                                            passage, and
                                            going through the cites of the word in classical literature, discovered the
                                            undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of
                                            "de
                                            Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero,
                                            written in 45
                                            BC. This book is a treatise on the theory of ethics, very popular during the
                                            Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..",
                                            comes
                                            from a line in section 1.10.32. The standard chunk of Lorem Ipsum used since
                                            the
                                            1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33
                                            from
                                            "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact
                                            original form, accompanied by English versions from the 1914 translation by
                                            H.
                                            Rackham.</p>
                                        <p class="news-date text-right">Дaлее</p>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-md-4">
                                        <img src="https://cardtemplate.club/wp-content/uploads/2018/08/text-birthday-cards-beautiful-greeting-card-bday-new-book-birthday-card-happy-birthday-cards-of-text-birthday-cards.jpg"
                                             alt="" width="100%">
                                    </div>
                                    <div class="col-md-8">
                                        <p class="news-date">22.08.2018</p>
                                        <p class="news-header">Заголовок новости</p>
                                        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has
                                            roots in a
                                            piece of classical Latin literature from 45 BC, making it over 2000 years
                                            old.
                                            Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia,
                                            looked
                                            up one of the more obscure Latin words, consectetur, from a Lorem Ipsum
                                            passage, and
                                            going through the cites of the word in classical literature, discovered the
                                            undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of
                                            "de
                                            Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero,
                                            written in 45
                                            BC. This book is a treatise on the theory of ethics, very popular during the
                                            Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..",
                                            comes
                                            from a line in section 1.10.32. The standard chunk of Lorem Ipsum used since
                                            the
                                            1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33
                                            from
                                            "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact
                                            original form, accompanied by English versions from the 1914 translation by
                                            H.
                                            Rackham.</p>
                                        <p class="news-date text-right">Дaлее</p>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-md-4">
                                        <img src="https://cardtemplate.club/wp-content/uploads/2018/08/text-birthday-cards-beautiful-greeting-card-bday-new-book-birthday-card-happy-birthday-cards-of-text-birthday-cards.jpg"
                                             alt="" width="100%">
                                    </div>
                                    <div class="col-md-8">
                                        <p class="news-date">22.08.2018</p>
                                        <p class="news-header">Заголовок новости</p>
                                        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has
                                            roots in a
                                            piece of classical Latin literature from 45 BC, making it over 2000 years
                                            old.
                                            Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia,
                                            looked
                                            up one of the more obscure Latin words, consectetur, from a Lorem Ipsum
                                            passage, and
                                            going through the cites of the word in classical literature, discovered the
                                            undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of
                                            "de
                                            Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero,
                                            written in 45
                                            BC. This book is a treatise on the theory of ethics, very popular during the
                                            Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..",
                                            comes
                                            from a line in section 1.10.32. The standard chunk of Lorem Ipsum used since
                                            the
                                            1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33
                                            from
                                            "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact
                                            original form, accompanied by English versions from the 1914 translation by
                                            H.
                                            Rackham.</p>
                                        <p class="news-date text-right">Дaлее</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center" style="margin-bottom: 40px;"><a href="" class="btn btn-custom-1">Показать все статьи</a></div>
                </div>

                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
{% endblock %}
