{% extends "site/site.html.twig" %}

{% block site_content %}
    <div class="row">
        <div class="col-md-12 text-center">
            <h4 class="page-title">{{ page.title }}</h4>
            <div>{{ page.content| raw }}</div>
        </div>
    </div>
    {% if page.category %}
        <div class="row">
            <div class="col-md-10 offset-1">
                <div class="row">
                    {% for product  in page.category.products.values %}
                        <div class="col-md-4 product-item text-center">
                            <img src="{{ asset('/img/' ~ product.media.values[0].url) }}" alt="">
                            <p class="item-name">{{ product.name }}</p>
                            <p class="item-price">Цена: {{ product.price }} BYN</p>
                            <p>
                                <a href="{{ path('app_product', {'id': product.id}) }}" class="btn btn-custom-1">Подробнее</a>
                            </p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
