{% extends "site/site.html.twig" %}

{% block site_content %}
    <div class="row">
        <div class="col-md-4 text-center">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    {% for media in product.media.values %}
                        <li data-target="#carouselExampleIndicators" data-slide-to="{{ loop.index - 1 }}" class="{{ loop.first ? 'active' }}"></li>
                    {% endfor %}
                </ol>
                <div class="carousel-inner">
                    {% for media in product.media.values %}
                        <div class="carousel-item {{ loop.first ? 'active' }}">
                            <img class="d-block w-100" src="{{ asset('/img/' ~ media.url) }}">
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <p class="item-name">{{ product.name }}</p>
            <p class="item-price">Цена: {{ product.price }} BYN</p>
            <p>{{ product.description }}</p>
            <p><a href="{{ path('app_page', {'slug': 'contacts'}) }}" class="btn btn-custom-1">Заказать</a></p>
        </div>
    </div>
{% endblock %}
