{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="container-fluid">
        {{ renderHeader()|raw }}
        {% block site_content %}
        {% endblock %}
        {{ renderFooter()|raw }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        function initMap() {
            var uluru = {lat: -25.344, lng: 131.036};
            var map = new google.maps.Map(
                document.getElementById('map'), {zoom: 4, center: uluru});
            var marker = new google.maps.Marker({position: uluru, map: map});
        }
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBg1imy51QPtqsC79lyk4B7FwcrMAnz70w&callback=initMap">
    </script>
{% endblock %}
