<div class="row" style="background-color:black; color: white; padding-top: 20px;">
    <div class="col-md-3">
        <p style="font-size: 18px;"><b>Полезные ссылки:</b></p>
        <ul class="useful-links">
            <li>Цены</li>
            <li>Акции</li>
            <li>Памятники недорого</li>
            <li>Медальоны</li>
            <li>Стеклянные памятники</li>
            {% for item in items %}
                <li>{{ item.title }}</li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-md-6 text-center">
        <p class="pt-5">
            <a href="http://3dgranit.by/" class="btn btn-block btn-success footer-btn">
                Просчеты любого количества памятников<br><span class="text-uppercase">онлайн</span>
            </a>
        </p>
    </div>
    <div class="col-md-3">
        <p>+375 (29) 586-04-52<br>+375 (29) 586-04-52</p>
        <p>Адрес: г. Минск, пр-т Независимости 49,<br>2-ой этаж, офис №200<br>Режим работы: 9:00 - 18:00</p>
    </div>
    <div class="col-md-12 text-center">
        <p>@ 2008 - 2018 Все права защищены</p>
    </div>
</div>