<div class="row" style="background-color:black;color: white;">
    <div class="col-md-2 text-center">
        <a href="{{ path('app_index') }}"><img class="logo-img" src="{{ asset('img/logo.png') }}" alt="logo"></a>
    </div>
    <div class="col-md-7 text-center">
        <a href="{{ path('app_index') }}" style="color: #fff"><h1 class="main-header">Мир стекла и камня</h1></a>
    </div>
    <div class="col-md-3">
        <p class="phone-numbers">+375 (29) 586-04-52<br>+375 (29) 586-04-52</p>
        <p>Адрес: г. Минск, пр-т Независимости 49,<br>2-ой этаж, офис №200<br>Режим работы: 9:00 - 18:00</p>
    </div>
</div>
<div class="row header-menu" style="background-color: #3f3e3e;">
    <div class="col-md-8 mx-auto text-center">
        <ul class="list-inline">
            {% for item in items %}
                <li class="list-inline-item">
                    {% if item.childs|length > 0 %}
                        <div class="a_dropdown">
                            <a class="a_dropbtn" href="{{ path('app_page', {'slug': item.slug}) }}">{{ item.title }}</a>
                            <div class="a_dropdown-content">
                                {% for child in item.childs %}
                                    <a href="{{ path('app_page', {'slug': child.slug}) }}">{{ child.title }}</a>
                                {% endfor %}
                            </div>
                        </div>
                    {% else %}
                        <a class="social-icon text-xs-center p-3" href="{{ path('app_page', {'slug': item.slug}) }}">{{ item.title }}</a>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
<div class="row" style="background-color:#000; padding: 10px 0;">
    <div class="col-md-3 offset-3 text-center p-2">
        <a href="#" class="btn btn-custom-1">Рассрочка</a>
    </div>
    <div class="col-md-3 text-center p-2">
        <a href="" class="btn btn-custom-1">Акционные товары</a>
    </div>
    <div class="col-md-3 p-2" style="display: flex; justify-content: flex-end;">
        <div class="input-group" style="max-width: 200px;">
            <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default"><i class="fas fa-search"></i></span>
            </div>
        </div>
    </div>
</div>