<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            {% for topMenuItem in pageMenu %}
                {% if topMenuItem.childs|length > 0 %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ topMenuItem.title }}
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            {% for child in  topMenuItem.childs %}
                                {% if child.childs |length > 0 %}
                                    {% include "site/partials/nested-menu.html.twig" with {"link": child} %}
                                {% else %}
                                    <li><a class="dropdown-item" href="{{ path('app_page', {"slug": child.slug}) }}">{{ child.title }}</a></li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link disabled"
                           href="{{ path('app_page', {'slug': topMenuItem.slug}) }}">{{ topMenuItem.title }}</a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</nav>