<li class="dropdown-submenu">
    <a class="dropdown-item dropdown-toggle" href="#">{{ link.title }}</a>
    <ul class="dropdown-menu">
        {% for link in link.childs %}
            {% if link.childs|length > 0 %}
                {% include "site/partials/nested-menu.html.twig" with {"link": link.childs} %}
            {% else %}
                <li>
                    <a class="dropdown-item" href="{{ path('app_page', {'slug': link.slug}) }}">
                        {{ link.title }}
                    </a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</li>
