<ul class="sidemenu-list">
    <li>Наши преимущества</li>
    <li>Наши преимущества</li>
    <li>Наши преимущества</li>
    <li>Наши преимущества</li>
    <li>Наши преимущества</li>
    <li>Наши преимущества</li>
    <li>Наши преимущества</li>
    <li>Наши преимущества</li>
</ul>