{% extends "admin/admin.html.twig" %}

{% block admin_content %}
    {{ form_start(form) }}
    <div class="row">
        <div class="col-md-8">
            <h4>Page settings</h4>
            <div class="form-group">
                {{ form_label(form.title) }}
                {{ form_errors(form.title) }}
                {{ form_widget(form.title) }}
            </div>
            <div class="form-group">
                {{ form_label(form.slug) }}
                {{ form_errors(form.slug) }}
                {{ form_widget(form.slug) }}
            </div>
            <div class="form-group">
                {{ form_label(form.content) }}
                {{ form_errors(form.content) }}
                {{ form_widget(form.content) }}
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-12">
                    {% if not form.vars.value.isSystem %}
                        <h4>Additional settings</h4>
                        <div class="form-group">
                            {{ form_label(form.parent) }}
                            {{ form_errors(form.parent) }}
                            {{ form_widget(form.parent) }}
                        </div>
                        <div class="form-check">
                            {{ form_widget(form.isVisible) }}
                            {{ form_label(form.isVisible) }}
                            {{ form_errors(form.isVisible) }}
                        </div>
                    {% endif %}
                    <h4>Menu Setting</h4>
                    <div class="form-group">
                        {{ form_label(form.priority) }}
                        {{ form_errors(form.priority) }}
                        {{ form_widget(form.priority) }}
                    </div>
                    {% for menuCheckbox in form.menus %}
                        <div class="form-check">
                            {{ form_widget(menuCheckbox) }}
                            {{ form_label(menuCheckbox) }}
                            {{ form_errors(menuCheckbox) }}
                        </div>
                    {% endfor %}
                    <h4>Прикрепленная категория</h4>
                    <div class="form-group">
                        {{ form_label(form.category) }}
                        {{ form_errors(form.category) }}
                        {{ form_widget(form.category) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {{ form_widget(form.save) }}
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}